.button {
}

.disabled {
	opacity: 0.5; /* Disabled style */
	cursor: not-allowed;
}

.secondary {
	background-color: #007bff;
}

.default {
	background-color: #f0f0f0;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
